<% include partials/header.ejs %>
<h1> hey this is the blogs page </h1>
<div class="container-fluid">
<% for(var i = 0 ; i < blogs.length ; i++){%>
  <h1> <%= blogs[i].title %> </h1>
  <img src = "<%= blogs[i].image %>" alt="image">
  <span><p> <%= blogs[i].create %></p> </span>
  <p> <%= blogs[i].body.substring(0,100) %></p>
  <a href="/blogs/<%= blogs[i]._id%>"> Read More... </a>
<%}%>
</div>

<% include partials/footer.ejs %>
